@using CMS.Core.Convertors
@model CMS.DataLayer.Page
@{
    ViewBag.Title = @Model.Title;
}
<style>
    #pageText img {
        width: 80%;
        position: relative;
        right: 50%;
        margin: 20px 0;
        margin-right: -40%;
    }
</style>
<ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">خانه </a></li>
    <li class="breadcrumb-item"><a href="/pages">اخبار </a></li>
    <li class="breadcrumb-item"><a href="/pages?categories=@Model.GroupID">@Model.PageGroup.GroupTitle  </a></li>
    <li class="breadcrumb-item"><a href="/pages/@Model.PageID">@Model.Title</a></li>
</ul>

<section class="single-news border-radius">
    <header style="padding-bottom:22px"><h1 class="title" style="font-size: 25px;margin-top: 5px">@Model.Title</h1><span><br /><i class="fa fa-eye"></i> بازدید : @Model.Visit </span> <span><i class="fa fa-calendar"></i>  انتشار : @Model.CreateDate.ToShamsi()</span></header>
    <div class="row">
        <div class="col-md-6">
            <p class="text-justify" style="font-size: 20px; padding: 10px;">
                @Model.ShortDescription
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-thumbnail center-block" width="90%" src="/PageImage/@Model.ImageName" />
        </div>
    </div>
    <article class="row">
        <p class="text-justify pageContent" style="font-size: 20px; padding: 20px;line-height: 2">
            <div id="pageText" class="center-block">
                @Html.Raw(Model.Text )
            </div>
        </p>
    </article>
</section>
@if (Model.Tags != null)
{
    <div class="keywords border-radius">

        @foreach (var item in Model.Tags.Split(','))
        {
            <a href="/search?q=@item"> @item </a>
        }
    </div>
}


<section class="comment-layer">
    <header> <i class="fa fa-comments"></i><h5> دیدگاه کاربران </h5><span> @Model.Comments.Count دیدگاه </span> </header>

    <ul id="commentList">

        @Html.Action("ShowComment")

    </ul>

    <h6> شما هم دیدگاه خود را ارسال کنید </h6>
    <form class="comment-form" action="" method="post">
        <div>
            <input placeholder=" نام و نام خانوادگی" type="text" id="name">
            <input placeholder=" ایمیل خود را وارد نمایید " type="email" id="email">
        </div>
        <textarea placeholder=" متن دیدگاه" id="comment"></textarea>
        <input value="ثبت دیدگاه ارزشمند شما " type="button" onclick="AddComment()">
    </form>
</section>

<script>
    function AddComment()
    {
        $.ajax({
            url: "/Pages/AddComment/",
            type: "post",
            data:
            {
                pageId:@Model.PageID,
                name: $("#name").val(),
                email: $("#email").val(),
                comment: $("#comment").val()
            }
        }).done(function (res) {
            if (res != null) {
                $("#commentList").html(res);
            }
            $("#name").val("");
            $("#email").val("");
            $("#comment").val("");
        });
    }
</script>